.btn-no-bg {
    background-color: transparent;
    color: var(--accent-color);
    text-decoration: underline;
}

.no-margin {
    margin: 0px;
}

.sm-text {
    font-weight: 300;
    font-size: 16px;
}

.title{
    margin: 0.625rem 0rem 1.25rem 0.625rem;
}