.page-container{
    display: flex;
}
.filter {
    width: 20%;
    height: 100%;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
    padding: var(--container-padding);
}

.filter-head {
    display: flex;
    gap: var(--container-gap);
    justify-content: space-between;
    align-items: center;
}

.filter-heading {
    margin: var(--container-margin);
    font-weight: 500;
    color: var(--primary-color);
}
.product-container{
    margin: var(--container-margin);
    width: 80%;
}
.title{
    margin: 0.625rem 0rem 1.25rem 0.625rem;
}
.card-container{
    width: 25%;
    height: 20%;
    gap: var(--container-gap);
    flex-wrap: wrap;
}
.product-card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.card-img{
    width: 400px;
    height: 300px;
}
.card{
    height: 28rem;
}
.card-head{
    text-align: center;
}
.card-text{
    text-align: center;
    color: var(--accent-color);
}